<a href="https://colab.research.google.com/github/MWFK/Nike_Case_Assignments/blob/main/VIP_promotion_Python_Version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objectives

**Build** a small data pipeline that outputs **an overview of Nike’s VIP customers**, **ordered by the total sales value of their purchases**. 

---

For this promotion, the marketing department is only interested in **VIPs currently located in The Netherlands.** 


---


**VIPs that have not purchased any products are still eligible** – they are VIP, after all. 


---


This ask is not a one-off, as Marketing is already thinking about running this promotion again next year if it is successful.


---


In the overview, Marketing is looking for:

  The name of the VIP

  The email address of the VIP

  The total sales value of the VIPs purchases

# Libs

In [15]:
import pandas as pd
import pyarrow.parquet as pq

# Data

In [26]:
# Data source: Sales domain
# One month's data
# Date format yyyy-mm-dd
'''
Some of the currencies exist and the following are not appropirate currencu codes: NL, MRO
https://www.countries-ofthe-world.com/world-currencies.html 
'''

path_transactions = '/content/transactions.parquet'

df_transactions   = pq.read_table(path_transactions)
df_transactions   = df_transactions.to_pandas()

print(df_transactions.shape)
# print(df_transactions.dtypes)
df_transactions

(18, 14)

,store,transaction_date,order_number,line_number,product_id,product_name,quantity,currency,recommended_retail_price_per_unit,discount_amount_per_unit,profile_id,cancellation_flag,cancellation_date,source_system
0,.com,2020-11-20,422681959244,1,720854836340997,zJnSpFriDYyNDJhwxMxD,1,NL,721,NaN,1-5151-4642-1,None,None,DIGITAL
1,.com,2020-11-20,422681959244,2,999789223355744,XVnSxtFOJUDGlfxVQauS,1,NL,71,25.0,1-5151-4642-1,None,None,DIGITAL
2,.com,2020-11-20,422681959244,3,343125809243217,XkzpDAMIbZmTvuMTmGPU,1,NL,812,NaN,1-5151-4642-1,None,None,DIGITAL
3,.com,2020-11-23,982990828489,1,451789186646625,PeSsoTndtARHiWxgEooV,1,SDG,755,NaN,1-57006-547-0,None,None,DIGITAL
4,.com,2020-11-28,560607850517,1,162643898729888,XidxwPxWZGzNaZqPosjV,1,MOP,372,NaN,1-5151-4642-1,None,None,DIGITAL
5,.com,2020-11-27,982990828489,1,451789186646625,PeSsoTndtARHiWxgEooV,-1,SDG,-755,NaN,1-57006-547-0,None,None,DIGITAL
6,.com,2020-11-06,255329180770,1,89920978863916,PCZZxsBhrPPbFXGHgisb,1,GMD,678,NaN,1-4947-2509-6,None,None,DIGITAL
7,.com,2020-11-06,255329180770,2,28756773917332,AEzisXHrWPYPdGSKhASe,1,GMD,678,NaN,1-4947-2509-6,None,None,DIGITAL
8,.com,2020-11-06,255329180770,3,408285286501930,ADUSDiRfHjyQFwhnQJiL,2,GMD,400,NaN,1-4947-2509-6,None,None,DIGITAL
9,.com,2020-11-06,255329180770,3,408285286501930,ADUSDiRfHjyQFwhnQJiL,2,GMD,400,NaN,1-4947-2509-6,yes,2020-11-06,DIGITAL
10,.com,2020-11-14,119667565341,1,326344697748737,EYYZNlNYGxWhSRUPuyfl,4,PKR,898,75.0,1-4786-9297-9,None,None,DIGITAL
11,.com,2020-11-23,144763924735,1,12504163756291,EwllGZIZeoKHDtrONyxW,1,FJD,644,NaN,1-4786-9297-9,None,None,DIGITAL
12,.com,2020-11-02,195509282377,1,133436808692578,kBzjXzAXrKdlqUzjPsSf,2,NZD,181,NaN,1-9860-3438-0,None,None,DIGITAL
13,.com,2020-11-10,848930627247,1,498395574486943,BTehnClwJeLEucLlMwjC,1,MRO,175,100.0,1-9860-3438-0,None,None,DIGITAL
14,.com,2020-11-26,203514742148,1,382340440683008,pqxgNnrxWFYVGBCceJnd,2,BAM,901,NaN,1-85886-104-7,None,None,DIGITAL
15,.com,2020-11-26,203514742148,1,382340440683008,pqxgNnrxWFYVGBCceJnd,2,BAM,901,NaN,1-85886-104-7,yes,2020-11-27,DIGITAL
16,.com,2020-11-09,341377878278,1,278886094726859,vGTcKZinezDPfJsnVAag,1,ILS,782,NaN,0-89923-575-1,None,None,DIGITAL
17,.com,2020-11-30,195509282377,1,133436808692578,kBzjXzAXrKdlqUzjPsSf,-1,NZD,-181,NaN,1-9860-3438-0,None,None,DIGITAL

In [31]:
# Data source: Customer domain
# Two week's data
# Date format yyyy-mm-dd

path_vips_1101 = '/content/vips_2020-11-01.csv'

df_vips_1101   = pd.read_csv (path_vips_1101)

print(df_vips_1101.shape)
# print(df_vips_1101.dtypes)
df_vips_1101.head()

(7, 6)

,vip_id,first_name,last_name,vip_type,country,email
0,4544056563,Brandon,Ritter,Athlete,The Netherlands,Brandon.Ritter@nike.com
1,9339003839,Adam,Hall,Athlete,Czech Republic,Adam.Hall@nike.com
2,1600627714,NaN,NaN,Donator,Australia,Fernando@Ford.com
3,7531485682,Edwin,Floyd,NaN,The Netherlands,Edwin.Floyd@nike.com
4,4271215441,Kristin,Brooks,Donator,The Netherlands,Kristin@Brooks.com

In [30]:
# Data source: Customer domain
# Two week's data
# Date format yyyy-mm-dd

path_vips_1115 = '/content/vips_2020-11-15.csv'

df_vips_1115   = pd.read_csv (path_vips_1115)

print(df_vips_1115.shape)
# print(df_vips_1115.dtypes)
df_vips_1115.head()

(8, 6)

,vip_id,first_name,last_name,vip_type,country,email
0,4544056563,Brandon,Ritter,Athlete,The Netherlands,Brandon.Ritter@nike.com
1,9339003839,Adam,Hall,Athlete,Czech Republic,Adam.Hall@nike.com
2,1600627714,Fernando,Ford,Donator,Australia,Fernando@Ford.com
3,7531485682,Edwin,Floyd,NaN,The Netherlands,Edwin.Floyd@nike.com
4,4271215441,Kristin,Brooks-Ritter,Donator,The Netherlands,Kristin@Brooks.com

In [29]:
# Data source: Customer domain
# Two week's data
# Date format yyyy-mm-dd

path_vips_1125 = '/content/vips_2020-11-25.csv'

df_vips_1125   = pd.read_csv (path_vips_1125)

print(df_vips_1125.shape)
# print(df_vips_1125.dtypes)
df_vips_1125.head()

(9, 6)

,vip_id,first_name,last_name,vip_type,country,email
0,4544056563,Brandon,Ritter,Athlete + Donator,The Netherlands,Brandon.Ritter@nike.com
1,9339003839,Adam,Hall,Athlete,Czech Republic,Adam.Hall@nike.com
2,1600627714,Fernando,Ford,Donator,Australia,Fernando@Ford.com
3,7531485682,Edwin,Floyd,Donator,The Netherlands,Edwin.Floyd@nike.com
4,4271215441,Kristin,Brooks-Ritter,Donator,The Netherlands,Kristin@Brooks.com

In [58]:
# Source: Marketing domain
# One month's  data
# Date format dd-mm-yyyy
'''
The meta change dates have happened in 04-01-2020 and 25-01-2020, 
VIP's data have occured on 01-11-2020, 15-11-2020, 25-11-2020, 
Which means all the VIP data files needs to be updated according 
to he mapping file, before using them. 
'''

path_vips_mapping = '/content/umd_vip_to_profile_mapping.csv'

df_vips_mapping = pd.read_csv(path_vips_mapping, sep=';')

print(df_vips_mapping.shape)
# print(df_vips_mapping.dtypes)
df_vips_mapping.head()

(10, 5)

,vip_id,profile_id,active,meta_change_date,meta_comments
0,4544056563,1-5151-4642-1,yes,NaN,NaN
1,4544056563,1-5151-4642-1,no,4-1-2020,This athlete was in the system twice
2,9339003839,1-4786-9297-9,yes,NaN,NaN
3,1600627714,1-4947-2509-6,yes,NaN,NaN
4,7531485682,1-57006-547-0,no,25-1-2020,No longer a donator

Nike's Customers transaction (2020-)

# Overview of Nike’s VIP customers (2020-11-01) 

1. **vips_2020-11-01.csv** is linked **umd_vip_to_profile_mapping.csv** through the column **vip_id**

        We'll use it to add **umd_vip_to_profile_mapping.csv** columns to **vips_2020-11-01.csv** columns

2. **vips_2020-11-01.csv** is linked to **transactions.parquet** through **profile_id** column

        We'll use it to add **transactions.parquet** columns to **vips_2020-11-01.csv** columns

In [34]:
df_vips_mapping

,vip_id,profile_id,active,meta_change_date,meta_comments
0,4544056563,1-5151-4642-1,yes,NaN,NaN
1,4544056563,1-5151-4642-1,no,4-1-2020,This athlete was in the system twice
2,9339003839,1-4786-9297-9,yes,NaN,NaN
3,1600627714,1-4947-2509-6,yes,NaN,NaN
4,7531485682,1-57006-547-0,no,25-1-2020,No longer a donator
5,4271215441,1-9860-3438-0,yes,NaN,NaN
6,1154401046,1-85886-104-7,yes,NaN,NaN
7,4262242729,0-89923-575-1,yes,NaN,NaN
8,6159265415,0-10-241138-7,yes,NaN,NaN
9,4711973834,1-59971-953-3,yes,NaN,NaN

In [33]:
# Only keep VIP's currently based in the Netherlands
df_vips_1101 = df_vips_1101.loc[df_vips_1101['country'] == 'The Netherlands']
df_vips_1101

,vip_id,first_name,last_name,vip_type,country,email
0,4544056563,Brandon,Ritter,Athlete,The Netherlands,Brandon.Ritter@nike.com
3,7531485682,Edwin,Floyd,NaN,The Netherlands,Edwin.Floyd@nike.com
4,4271215441,Kristin,Brooks,Donator,The Netherlands,Kristin@Brooks.com

In [63]:
''' 
An athlete got his status active as no since he was duplicated in the system
and since from the meta_commets we have no other indication, that means he still an active VIP, 
so we'll delete that duplicate VIP ID with active status no
'''

df_vips_mapping.drop_duplicates(subset='vip_id', keep="first", inplace=True)
df_vips_mapping.head()

       vip_id     profile_id active meta_change_date        meta_comments
0  4544056563  1-5151-4642-1    yes              NaN                  NaN
2  9339003839  1-4786-9297-9    yes              NaN                  NaN
3  1600627714  1-4947-2509-6    yes              NaN                  NaN
4  7531485682  1-57006-547-0     no        25-1-2020  No longer a donator
5  4271215441  1-9860-3438-0    yes              NaN                  NaN

In [65]:
# Merge df_vips_mapping with df_vips_1101 using 'vip_id'

df_vips_1101_mapped = pd.merge(df_vips_1101, df_vips_mapping, on='vip_id', how='left')
df_vips_1101_mapped

,vip_id,first_name,last_name,vip_type,country,email,profile_id,active,meta_change_date,meta_comments
0,4544056563,Brandon,Ritter,Athlete,The Netherlands,Brandon.Ritter@nike.com,1-5151-4642-1,yes,NaN,NaN
1,7531485682,Edwin,Floyd,NaN,The Netherlands,Edwin.Floyd@nike.com,1-57006-547-0,no,25-1-2020,No longer a donator
2,4271215441,Kristin,Brooks,Donator,The Netherlands,Kristin@Brooks.com,1-9860-3438-0,yes,NaN,NaN

In [66]:
# Only keep active VIP's

df_vips_1101_mapped = df_vips_1101_mapped.loc[df_vips_1101_mapped['active'] == 'yes']
df_vips_1101_mapped

,vip_id,first_name,last_name,vip_type,country,email,profile_id,active,meta_change_date,meta_comments
0,4544056563,Brandon,Ritter,Athlete,The Netherlands,Brandon.Ritter@nike.com,1-5151-4642-1,yes,NaN,NaN
2,4271215441,Kristin,Brooks,Donator,The Netherlands,Kristin@Brooks.com,1-9860-3438-0,yes,NaN,NaN

In [67]:
cols = ['profile_id', 'first_name', 'email']
df_vips_1101_mapped = df_vips_1101_mapped[cols]
df_vips_1101_mapped